<html>
<body style="background-color: mintcream;">
<style>
table,td{
    border: 1px solid black;
    color:indigo;
    text-align: center;
    border-collapse: collapse;
    background-color:seashell;
}
h1{
        color:navy;
        text-align: center;
    }
</style>
<br>
<h1>Transaction Details</h1>
<br>
<table width=60% height=60% style="margin-left:auto;margin-right:auto;">
    <tr>
        <td>Transaction Reference number</td>
        <td></td>
    </tr>
    <tr>
        <td>Payment Gateway Reference</td>
        <td></td>
    </tr>
    <tr>
        <td>Transaction Status</td>
        <td>SUCCESSFUL</td>
    </tr>
    <tr>
        <td>Applicant Name</td>
        <td>{{hstudname}}</td>
    </tr>
    <tr>
        <td>Paid For</td>
        <td></td> 
    </tr>
    <tr>
        <td>Transaction Amount</td>
        <td></td>
    </tr>
    <tr>
        <td>TimeStamp</td>
        <td>{{hnew_time}}</td>
    </tr>
</table>

</body>
</html>
